---
layout: default
---
<h1> Check out some local attractions...</h1>
<div class="flexslider">
  <ul class="slides">
	<li>
		<a href="http://www.tripadvisor.ca/LocationPhotoDirectLink-g154967-d675945-i24756318-Glooscap_Trail-Nova_Scotia.html#24756318"><img alt="" src="http://media-cdn.tripadvisor.com/media/photo-s/01/79/c0/5e/view-from-a-cave-on-beach.jpg"/></a>
		<h2>  View from a cave on beach near Advocate Harbour</h2>
		<p>The coastal erosion creates sea stacks, caves and arches that make for a unique experience.</p>
		<p>This photo of Glooscap Trail is courtesy of TripAdvisor</p>
	</li>
	<li>
		<img src="/images/attractions/advocateharbour.png" />
			<h2>  Advocate Harbour</h2>
			<p>Located approx. 10km from New Salem</p>
	</li>
	<li>
      <img src="/images/attractions/lighthouse2.png" />
		<h2>  Cape d'Or Lighthouse</h2>
		<p>Cape d'Or Lighthouse - This Cape of Gold, as it translates into English, is named for the particular hue of the incredible sunsets over the water. There has been a lighthouse on this cliff-edged point of land where the Bay of Fundy runs into the Minas Basin since 1922. Today’s lighthouse, built in 1965, is the only lighthouse facility in Nova Scotia with overnight accommodations.</p>
		<p>Photo credit to Dennis Jarvis from Halifax, Canada</p>
    </li>
    <li>
      <img src="/images/attractions/lighthouse.png" />
		<h2>  Cape d'Or Lighthouse near Advocate Harbour</h2>
    </li>
    <li>
      <img src="/images/attractions/park.png" />
		<h2>  Cliffs of Cape Chignecto</h2>
		<p>Cliffs of Cape Chignecto, taken from the entrance to Cape Chignecto Provincial Park close to Advocate Harbour</p>
    </li>
	<li>
		<a href="http://www.tripadvisor.in/LocationPhotoDirectLink-g499210-d2091085-i31043848-Cape_Chignecto_Provincial_Park-Advocate_Harbour_Nova_Scotia.html#37035543"><img alt="" src="http://media-cdn.tripadvisor.com/media/photo-s/02/35/1e/17/the-legendary-three-sisters.jpg"/></a><br/>
		<h2>  Andersons Cove</h2>
		<p>Due to the extreme tidal range in this area it is also a well known sea kayaking destination.</p>
		<p>This photo of Cape Chignecto Provincial Park is courtesy of TripAdvisor</p>
	</li>
	<li>
		<a href="http://www.tripadvisor.in/LocationPhotoDirectLink-g499210-d2091085-i37035546-Cape_Chignecto_Provincial_Park-Advocate_Harbour_Nova_Scotia.html#37035546"><img alt="" src="http://media-cdn.tripadvisor.com/media/photo-s/02/35/1e/1a/the-keyhole-cape-chignecto.jpg"/></a>
		<h2>  The keyhole Cape Chignecto</h2>
		<p>This photo of Cape Chignecto Provincial Park is courtesy of TripAdvisor</p>
	</li>

  </ul>
</div>
