<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="description" content="{{ site.description }}">
	
	<link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico">
    
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css"/>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/flexslider.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="{{site.baseurl}}/js/jquery.flexslider.js"></script>

	<script type="text/javascript" charset="utf-8">
		$(window).load(function() {
	  		$('.flexslider').flexslider({
	    		animation: "slide",
	  		});
		});
	
	</script>
	

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Buy My House</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Buy My House</h1><div id='price'>$97,500</div>
        <h2>New Salem, Nova Scotia, Canada.</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

			{{ content }}
        
		</section>

        <aside id="sidebar">
			<a href="/buy-my-house/" class="button">
        			<div class="buttontext">Home</div>
        		</a>
          		<a href="/buy-my-house/attractions/" class="button">
           			<div class="buttontext">Attractions</div>
       			</a>
				<a href="/buy-my-house/map/" class="button">
        			<div class="buttontext">Maps</div>
        		</a>
       			<a href="/buy-my-house/contact_me/" class="button">
           			<div class="buttontext">Contact Me</div>
       			</a>

          <p class="repo-owner"><a href="https://github.com/andrew-drake/new-salem-home-for-sale"></a> is maintained by <a href="https://github.com/andrew-drake">andrew-drake</a>.</p>

        </aside>
      </div>
    </div>

	<center><p .....><div... whatever....>
	<a href="http://www.freedomain.co.nr/" target="_blank"><img src="{{site.baseurl}}/images/anima.gif" width="88" height="31" border="0" alt="Free Domains @ .co.nr" /></a>
	</div></p></center>
  
  </body>
</html>
