---
layout: default
---
<h1>  Check out my home</h1>
	<div class="flexslider">
	  <ul class="slides">
	    <li>
	      	<img src="{{site.baseurl}}/images/house/house1.png" />
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/house3.png" />
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/outside1.png" />
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/house2.png" />
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/garage.png" />
	    	<h2>  Garage</h2>
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/kitchen1.png" />
	    	<h2>  Kitchen</h2>
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/kitchen2.png" />
	    	<h2>  Kitchen</h2>
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/kitchen3.png" />
			<h2>  Kitchen</h2>    
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/dining1.png" />
	    	<h2>  Dining Room</h2>
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/dining2.png" />
			<h2>  Dining Room</h2>    
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/living2.png" />
	   		<h2>  Living Room</h2>
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/masterbedroom1.png" />
			<h2>  Master Bedroom</h2>
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/masterbedroom2.png" />
			<h2>  Master Bedroom</h2>
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/masterbedroom3.png" />
				<h2>  Master Bedroom</h2>    
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/bedroom1.png" />
	    		<h2>  Another Bedroom</h2>
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/den1.png" />
			<h2>  Den or Extra Bedroom</h2>	    
		</li>
	  </ul>
	</div>
	<div id='paragraph-content'>
		<p> Whether your an all terrain vehicle enthusiast, someone looking to start a hobby farm, or just looking for a great retirement getaway, this home has something for you.</p>
		<p> Situated in "Sunshine Valley", as it used to be known, is a valley located inland a bit, so it’s warmer and great for growing gardens. But don't let that discourage you from being close to the ocean, as it is only 8 miles away in one direction or 6 in the other. Advocate is a small fishing community nearby, which has great flounder fishing that anyone can do as well as an excellent spot to go sea kayaking. There is also lots of hunting in the area, or you could just walk out the door and go trout fishing.</p>
		<p> The house is located on 7.5 acres, with 3 of that being wild blueberry land. There is a blueberry crop every second year, which produces roughly $5000 to $6000 worth of blueberries at todays farm price. Just think, the blueberries alone could pay for your mortgage every second year, and there is a crop on it this year. More farm land is available if you wanted to grow any other types of crops.</p>
		<p> The house was built in 1982, with lots of renovations since 2000, including bathroom and kitchen as well as all but four windows have been replaced. But it does need a little TLC. The house is 25' x 50', which includes 2 or 3 bedrooms plus den, kitchen, dining room and breakfast nook. Also a very nice deck, which is roughly 12' x 26' and has two 10' octagons, a perfect place to enjoy a coffee and watch the sun go down. There is skylights over the kitchen, and it comes with stove, fridge, dishwasher, microwave and washer/dryer hookups in the den. The master bedroom also has walkout doors. The house is heated with wood and oil, has a 7 brick chimney with liner and uses about 5 cord of wood to heat for the winter. The electric bill is about $110 a month and the property tax is $800 a year.</p>
		<p> The property also has a large paved driveway, 800 feet long, which is nice if you have kids to keep safe, so far off the road that you can't hear a car go by. Also included is a garage, which is 24' x 24' and a large building with a concrete floor that is 30' x 64'. This building is also wired for welding, and could be perfect for someone who was looking to start a small business.</p>
		<p> A few more tidbits of information, crime is nil, the nearest school is 8 miles away, and the nearest hospital is 33.</p>
	</div>	
<h3>  Thanks for looking</h3>