---
layout: default
---
<h1>Check out my home></h1>
	<div class="flexslider">
	  <ul class="slides">
	    <li data-thumb="{{site.baseurl}}/images/house/house1.png">
	      <img src="{{site.baseurl}}/images/house/house1.png" />
	    </li>
		<li data-thumb="{{site.baseurl}}/images/house/house3.png">
	      <img src="{{site.baseurl}}/images/house/house3.png" />
	    </li>
		<li data-thumb="{{site.baseurl}}/images/house/house2.png">
	      <img src="{{site.baseurl}}/images/house/house2.png" />
	    </li>
		<li data-thumb="{{site.baseurl}}/images/house/outside1.png">
	      <img src="{{site.baseurl}}/images/house/outside1.png" />
	    </li>
		<li data-thumb="{{site.baseurl}}/images/house/outside2.png">
	      <img src="{{site.baseurl}}/images/house/outside2.png" />
	    </li>
		<li data-thumb="{{site.baseurl}}/images/house/kitchen1.png">
	      <img src="{{site.baseurl}}/images/house/kitchen1.png" />
	    </li>
		<li data-thumb="{{site.baseurl}}/images/house/kitchen2.png">
	      <img src="{{site.baseurl}}/images/house/kitchen2.png" />
	    </li>
		<li data-thumb="{{site.baseurl}}/images/house/kitchen3.png">
	      <img src="{{site.baseurl}}/images/house/kitchen3.png" />
	    </li>
		<li data-thumb="{{site.baseurl}}/images/house/dining1.png">
	      <img src="{{site.baseurl}}/images/house/dining1.png" />
	    </li>
		<li data-thumb="{{site.baseurl}}/images/house/dining2.png">
	      <img src="{{site.baseurl}}/images/house/dining2.png" />
	    </li>
		<li data-thumb="{{site.baseurl}}/images/house/masterbedroom1.png">
	      <img src="{{site.baseurl}}/images/house/masterbedroom1.png" />
	    </li>
	  </ul>
	</div>
<h3>Thanks for looking.</h3>