---
layout: default
---
<h1>  Check out my home</h1>
	<div class="flexslider">
	  <ul class="slides">
	    <li>
	      <img src="{{site.baseurl}}/images/house/house1.png" />
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/house3.png" />
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/house2.png" />
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/outside1.png" />
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/outside2.png" />
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/garage.png" />
	    	<h2>  Garage</h2>
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/kitchen1.png" />
	    	<h2>  Kitchen</h2>
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/kitchen2.png" />
	    	<h2>  Kitchen</h2>
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/kitchen3.png" />
			<h2>  Kitchen</h2>    
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/dining1.png" />
	    	<h2>  Dining Room</h2>
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/dining2.png" />
			<h2>  Dining Room</h2>    
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/living2.png" />
	   		<h2>  Living Room</h2>
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/masterbedroom1.png" />
			<h2>  Master Bedroom</h2>
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/masterbedroom2.png" />
			<h2>  Master Bedroom</h2>
	    </li>
		<li>
	      <img src="{{site.baseurl}}/images/house/masterbedroom3.png" />
				<h2>  Master Bedroom</h2>    
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/bedroom1.png" />
	    		<h2>  Another Bedroom</h2>
		</li>
		<li>
	      <img src="{{site.baseurl}}/images/house/den1.png" />
			<h2>  Den or Extra Bedroom</h2>	    
		</li>
	  </ul>
	</div>
<h3>  Thanks for looking.</h3>